architecture.inc
*.swp
bin/owl*
src/Main/*.o
src/Main/*.a
src/Main/*.swp
src/Main/owl
src/Main/owl.dSYM/
src/MonteCarloAlgorithms/*.o
src/MonteCarloAlgorithms/*.a
src/MonteCarloAlgorithms/*.swp
src/PhysicalSystems/*.o
src/PhysicalSystems/*.a
src/PhysicalSystems/*.swp
src/PhysicalSystems/QuantumEspresso/qe
src/PhysicalSystems/QuantumEspresso/owl-qe
src/PhysicalSystems/QuantumEspresso/*.o
src/PhysicalSystems/QuantumEspresso/*.a
src/PhysicalSystems/QuantumEspresso/*.swp
src/Utilities/*.o
src/Utilities/*.a
src/Utilities/*.swp
